/* Client-specific Styles */ 
#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */ 
body{width:100% !important;} /* Force Hotmail to display emails at full width */ 
body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */ 
.hack_gmail_ios {
  display: none;
  white-space: nowrap;
  color: #fff;
}
